# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build files
dist/
build/

# Environment variables
.env

# Logs & cache
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store

# Editor settings
.vscode/
.idea/
*.swp